body {
      background-color:#FDFFE8;
      text-align:center;
 }     

h1 { 
      color: black;
      text-align: center;
      font-family: Tahoma;   
}

p {
      color: #4F7F61;
      text-align: center;
      font-family: Tahoma; 
      font-style: italic;
}

img {
    width: 100%;
    height: 25%;
}      

hr {
  width:200px;
}

div {
  height: 145px;
  width: 100%;
  border: 2px solid black;
  border-radius: 5px;
  display:block;
}
#box {
  background-color: #B2AC92;
}