body {
      background-color:white;
      text-align:center;

}

h1, p { 
      color: blue;
      text-align: center;
      font-family: Helvetica;
    }

img {
    max-width: 100%;
    height: auto;
}

hr {
  width:200px;
}