body {
      background-color:#FDFFE8;
      text-align:center;

h1, p { 
      color: #97DBFF;
      text-align: center;
      font-family: Helvetica;
    }

img {
    max-width: 100%;
    height: auto;
}

hr {
  width:200px;
}